$cardColor: #006cb2
$responseBoxColor: #7eb8f9
$koalaBackground: #2fb5de
$wordBoxColor: #52c211
$shadowBoxColor: #2c65ac
$shadowBoxColor2: #48ab0f
$shadowCheckIcon: #faac00
$shadowCancelIcon: #d04161
$fontColorGrey1: #707070
