$cardColor: #006cb2
$responseBoxColor: #7eb8f9
$koalaBackground: #2fb5de
$wordBoxColor: #52c211
$shadowBoxColor: #2c65ac
$shadowBoxColor2: #48ab0f
$shadowCheckIcon: #faac00
$darkShadowCheckIcon: #e5860a
$shadowCancelIcon: #d04161
$fontColorGrey1: #707070
$incorrectBackground: #ffdfe0
$correctBackground: #d7ffb8
$backgroundCardHome: #ffde57

$box-shadow: 0px 3px 6px 2px
$border-radius-item: 1em

@font-face
    font-family: GhoticB
    src: url('../fonts/GOTHICB.TTF')

@font-face
    font-family: Coopbl
    src: url('../fonts/COOPBL.TTF')

@font-face
    font-family: Ghotic
    src: url('../fonts/GOTHIC.TTF')
