@use 'base'

$border-radius-item: 1em
$box-shadow: 0px 3px 6px 2px

.containerGame
    position: relative
    padding-top: 1em

.titleGame
    display: flex
    justify-content: center
    position: absolute
    top: 2em
    left: 0%
    width: 95%

    h2
        display: flex
        font-size: 1.5em
        img
            padding-right: .5em

.cardImage
    background: base.$cardColor
    padding: 1em
    width: 13em
    height: 13em
    border-radius: $border-radius-item
    display: flex
    justify-content: center
    align-items: center

    img
        width: 11em
        height: auto

.containerOptions
    position: relative

.containerResponse
    background: base.$responseBoxColor
    width: 15em
    height: 5em
    margin-top: 1em
    border-radius: $border-radius-item
    box-shadow: $box-shadow base.$shadowBoxColor

.boxWords
    z-index: 1
    width: 15em
    margin-top: 13px
    border-radius: $border-radius-item
    box-shadow: $box-shadow base.$shadowBoxColor2
    background: base.$wordBoxColor
    display: flex
    flex-wrap: nowrap
    justify-content: space-evenly
    align-items: center
    color: white
    height: 5em
    transition: ease

    h3
        font-size: 2.2em
        margin: 12px 0

.containerBox
    display: flex
    justify-content: space-evenly
    margin-top: 3em
    margin-bottom: 3em

header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 1em

    img
        width: 6em

.drag-container
    position: relative
    display: flex
    justify-content: center
    bottom: 18px

.item
    cursor: pointer

.active
    z-index: 100

%result-icon-shared
    z-index: 5
    width: 7.3em
    position: absolute
    bottom: -5px
    object-fit: cover
    border-radius: 1em
    display: none
    height: 5.5em
    left: -1em

.iconCancel
    @extend %result-icon-shared
    box-shadow: 0px 2px 8px 1px base.$shadowCancelIcon

.iconCheck
    @extend %result-icon-shared
    box-shadow: 0px 2px 8px 1px base.$shadowCheckIcon

.containerWrong
    .iconCancel
        display: inherit
.containerCorrect
    .iconCheck
        display: inherit

.pointsBox
    width: 4.5em
    height: 4.5em
    display: flex
    justify-content: center
    align-items: center
    background: #faac00
    border-radius: 50px
    border: solid 3px white
    margin-right: .5em

    p
        font-size: 2em
        font-weight: bold
        color: white

@media screen and (max-width: 992px)
    .titleGame
        top: 4em

    .iconCancel, .iconCheck
        height: 5.5em
        left: -1em

@media screen and (max-width: 768px)
    body
        font-size: 65%

    .titleGame
        width: 80%
        position: initial !important
        text-align: center
        margin: auto
        h2
            display: flex
            font-size: 1.5em

    .iconCancel, .iconCheck
        height: 5.7em
        width: 6em
        left: -10px
        bottom: -4px

@media screen and (max-width: 768px) and (orientation: landscape)
    .containerBox
        margin-bottom: 3em

@media screen and (max-width: 480px)
    .titleGame
        left: 0
        font-size: 14px !important
        top: 8em
        justify-content: center

    .containerWords
        position: absolute
        bottom: 0

    .containerResponse
        height: 5em

    .containerGame
        min-height: 600px

    .titleGame
        h2
            font-size: 85%

@media screen and (max-width: 325px)
    .titleGame
        width: 82%

    .cardImage
        width: 12em
        height: 12em
        margin: auto

    .containerResponse
        width: 14em
    .boxWords
        width: 14em
        h3
            font-size: 2.2em
            margin: 12px 0
    .iconCancel, .iconCheck
        width: 6em
        left: -6px
        bottom: 0
        height: 5.2em
